@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes fadeIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
}

/* line 3, ../My pet Shop/Paws/sass/Files/ai_body.scss */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* line 15, ../My pet Shop/Paws/sass/Files/ai_body.scss */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

/* line 22, ../My pet Shop/Paws/sass/Files/ai_body.scss */
.test {
  color: red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
}

/* line 28, ../My pet Shop/Paws/sass/Files/ai_body.scss */
#menu-btn {
  display: none;
}

/* line 32, ../My pet Shop/Paws/sass/Files/ai_body.scss */
body {
  height: 500rem;
}

/* line 1, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header {
  background: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-10rem);
}

/* line 15, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header.active {
  transform: translateY(0rem);
}

/* line 19, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

/* line 24, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .logo i {
  color: #ffdf6c;
}

/* line 29, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
}

/* line 34, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .navbar a:hover {
  color: #ffdf6c;
}

/* line 39, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #fff;
  cursor: pointer;
}

/* line 46, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .icons a:hover,
.header .icons div:hover {
  color: #ffdf6c;
}

/* line 51, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #707070;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
}

/* line 60, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form.active {
  display: block;
  animation: fadeIn .4s linear;
}

/* line 65, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form h3 {
  color: #fff;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

/* line 71, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form .box {
  width: 100%;
  border-bottom: 2rem solid #202020;
  border-width: .1rem;
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  color: #707070;
  text-transform: none;
  margin: 1rem 0;
}

/* line 82, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form .remember {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}

/* line 88, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

/* line 95, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form .btn {
  width: 100%;
  height: 4rem;
  color: #3f3f3f;
  text-align: center;
  font-size: 2rem;
  border-radius: 12px;
  margin: 1.5rem 0;
}

/* line 15, ../My pet Shop/Paws/sass/Files/ab_mixin.scss */
.header .login-form .btn:hover {
  background: #fff;
}

/* line 100, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

/* line 106, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form .links a {
  font-size: 1.4rem;
  color: #ffdf6c;
}

/* line 110, ../My pet Shop/Paws/sass/Files/ae_header.scss */
.header .login-form .links a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 19, ../My pet Shop/Paws/sass/Files/af_home.scss */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(../image/home_page.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* line 29, ../My pet Shop/Paws/sass/Files/af_home.scss */
.home .content {
  width: 50rem;
  padding-left: 4rem;
}

/* line 33, ../My pet Shop/Paws/sass/Files/af_home.scss */
.home .content h3 {
  font-size: 6rem;
  color: #FFDF6C;
  padding-bottom: 1rem;
}

/* line 41, ../My pet Shop/Paws/sass/Files/af_home.scss */
.home .content .btn {
  color: #fff;
  border-color: #fff;
}

/* line 10, ../My pet Shop/Paws/sass/Files/af_home.scss */
.home .content .btn:hover {
  color: #FFDF6C;
}

/* line 14, ../My pet Shop/Paws/sass/Files/af_home.scss */
.home .content .btn::before {
  background: #707070;
}

/* line 46, ../My pet Shop/Paws/sass/Files/af_home.scss */
.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

@media (max-width: 991px) {
  /* line 3, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  html {
    font-size: 55%;
  }
  /* line 6, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  /* line 12, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  #menu-btn {
    display: inline-block;
  }
  /* line 17, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #707070;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  /* line 25, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* line 29, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  /* line 39, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  html {
    font-size: 50%;
  }
  /* line 42, ../My pet Shop/Paws/sass/Files/ad_mediaQuery.scss */
  .header .login-form {
    width: 90%;
  }
}

/* line 6, ../My pet Shop/Paws/sass/Files/ah_buttons.scss */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #130f40;
  cursor: pointer;
  background: none;
  color: #130f40;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

/* line 21, ../My pet Shop/Paws/sass/Files/ah_buttons.scss */
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #130f40;
  z-index: -1;
  transition: .2s linear;
  clip-path: circle(0% at 0% 5%);
}

/* line 33, ../My pet Shop/Paws/sass/Files/ah_buttons.scss */
.btn:hover::before {
  clip-path: circle(100%);
}

/* line 37, ../My pet Shop/Paws/sass/Files/ah_buttons.scss */
.btn:hover {
  color: #fff;
}

/*# sourceMappingURL=myStyle.css.map */