$test_red: red;

// Header
$header_color: #202020;
$header-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
$header-logo-color-icon: #ffdf6c;
$header-logo-text-color: #fff;
$header_menu_color: #fff;
$header_menu_color_hover: #ffdf6c;
$header_icon_color: #fff;
$header_icon_color_hover: #ffdf6c;

$header_form_background: #707070;
$header_box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
$form_heading_color: #fff;
$header_Form_input_border: 2rem solid #202020;
$header_remember_me_color: #fff;

$header_form_button_txt_color: #3f3f3f;
$header_form_button_bg_color: #fff;
$font_size_form_button: 2rem;
$form_button_radius: 12px;
$form_forget_signup_link_color: #ffdf6c;
$form_forget_signup_link_hover_color: #fff;
$header_Form_input_color: #707070;
$header_Form_button_border: 0.2rem solid #ffdf6c;
$form_button_text_color: #ffdf6c;
////
$header_Form_input_color_black_res: #707070;

$white: #fff;
$home_white_button_hover_bg: #ffdf6c;
$home_white_button_hover_txt: #707070;
$home_heading: #ffdf6c;

$black: #130f40;
$border: 0.2rem solid $black;

$white: #fff;
