@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

@mixin form-btn_p($rd, $fs, $txt_color, $bg_color, $w, $h) {
  width: $w;
  height: $h;
  color: $txt_color;
  text-align: center;
  font-size: $fs;
  border-radius: $rd;

  &:hover {
    background: $bg_color;
  }
}

@mixin form-btn {
  width: 100%;
  text-align: center;

  &:hover{
    background: #000;
  }
}