.header {
    background: $header_color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: $header_box_shadow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
transform: translateY(-10rem);

&.active{
    transform: translateY(0rem);
}
  
    .logo {
      font-size: 2.5rem;
      color: $header_logo_text_color;
      font-weight: bolder;
  
      i {
        color: $header_logo_color_icon;
      }
    }
  
    .navbar a {
      margin: 0 1rem;
      font-size: 1.7rem;
      color: $header_menu_color;
  
      &:hover {
        color: $header-menu-color-hover;
      }
    }
  
    .icons a,
    .icons div {
      font-size: 2.5rem;
      margin-left: 1.5rem;
      color: $header_icon_color;
      cursor: pointer;
  
      &:hover {
        color: $header_icon_color_hover;
      }
    }
  
  .login-form{
    position:absolute;
    top: 120%; right: 2rem; width: 35rem;
    border-radius: 1rem;
    background: $header_form_background;
    box-shadow: $header_box_shadow;
    padding: 2rem;
    display: none;
  
    &.active{
      display: block;
      animation: fadeIn .4s linear;
    }
  
  h3{
    color: $form_heading_color;
    font-size: 2.5rem;
    padding-bottom: .5rem;
  }
  
  .box{
    width: 100%;
    border-bottom: $header_Form_input_border;
    border-width: .1rem;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    color: $header_Form_input_color;
    text-transform: none;
    margin: 1rem 0;
  }
  
  .remember{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
  
    label{
      font-size: 1.5rem;
      cursor: pointer;
      color: $header_remember_me_color;
    }
  }
  
  .btn{
    @include form-btn_p($form_button_radius,$font_size_form_button,$header_form_button_txt_color,$header_form_button_bg_color,100%,4rem);
    margin: 1.5rem 0;
  }
  
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  
    a{
      font-size: 1.4rem;
      color: $form_forget_signup_link_color;
  
      &:hover{
        color: $form_forget_signup_link_hover_color;
        text-decoration: underline;
      }
    }
  }
  
  }
  
  }
  