$white:#fff;
$home_white_button_hover_bg : #FFDF6C;
$home_white_button_hover_txt : #707070;
$home_heading : #FFDF6C;

@mixin white-btn {
    color:$white;
    border-color: $white;
  
    &:hover{
      color:$home_white_button_hover_bg;
    }
  
    &::before{
      background:$home_white_button_hover_txt;
    }
  }

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(../image/home_page.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  
    .content{
      width:50rem;
      padding-left: 4rem;
  
      h3{
        font-size: 6rem;
        color:$home_heading;
        padding-bottom: 1rem;
  
       
      }
  
      .btn{
        @include white-btn();
      }
    }
  
    .wave{
      position: absolute;
      bottom: 0; left:0;
      width: 100%;
      height: 12rem;
    }
  }
